body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #faebd7;
    transition: background-color 0.5s ease;
}

body.modo-escuro {
    background-color: #333;
}

.container {
    background-color: yellowgreen;
    height: 220px;
    width: 300px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px; rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.5s ease;
}

body.modo-escuro .container {
    background-color: #555;
}

#valor {
    font-size: 4em;
    margin-bottom: 20px;
    display: block;
}

body.modo-escuro #valor {
    color: white;
}

.botoes{
    font-size: 3em;
    padding: 10px;
    margin-top: 40px;
    border: none;
    border-radius: 15px;
    background-color: rgba(7, 7, 7, 0.185);
}

.botoes button {
    font-size: 0.7em;
    padding: 13px;
    border: none;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botoes button:hover {
    background-color: rgb(31, 56, 201);
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: white;
}

.botoes button:focus {
    outline: 3px solid dodgerblue; 
    outline-offset: 2px; 
}

body.modo-escuro .botoes button {
    color: white;
    background-color: #222;
}

body.modo-escuro .botoes button:hover {
    background-color: rgb(255, 0, 127);
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: white;
}